# Copy the contents of this file into a new file called .env.

# The following key-value pairs will be added to process.env
# via the dotenv npm module, as used in server/index.js.

DB_HOST=YOUR_HOST
DB_USER=YOUR_USER_NAME
DB_PASSWORD=YOUR_PASSWORD
DB_DATABASE=YOUR_DATABASE
DB_PORT=5432
PORT=3000